.carousel-root {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide {
  background-color: #7B7B7C;
  text-align: center;
}

.carousel .slide img {
  max-width: 1000px;
  height: auto;
}

.carousel .legend {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

