.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.input-group label {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.add-button:hover {
  background-color: #3e8e41;
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button:hover {
  background-color: #c62828;
}

.update-button {
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0d47a1;
}

.orders-container {
  margin-top: 50px;
  width: 50%;
}

.order {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.order p {
  margin: 0;
  margin-bottom: 10px;
}

.order strong {
  font-weight: bold;
}

.read-button{
  display: none;
}

@media (max-width: 768px) {
  .order-form,
  .orders-container {
    width: 90%;
  }
}
