.header {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-right: 5px;
}

.logo span {
  font-weight: bold;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-overlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0,0,0,0.8); /* Fondo oscuro semitransparente */
 justify-content:center; 
 align-items:center; 
}

.menu-overlay.active { 
    display:flex; 
}

.menu-content { 
    background-color:#fff; 
    padding:20px; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
}

.menu-content a { 
    color:#333; 
    text-decoration:none; 
    margin-bottom:10px; 
    font-size:16px; 
}

/* Oculta la navegación en pantallas más pequeñas */
@media (max-width:768px) { 
    .header .navbar { 
        display:none; 
    }

    /* Muestra el botón de la hamburguesa */
    .header #menu-btn { 
        display:block; 
    }
}

/* Muestra la navegación en pantallas más grandes */
@media (min-width:769px) { 
    .header .navbar { 
        display:flex; 
    }

    /* Oculta el botón de la hamburguesa */
    .header #menu-btn { 
        display:none; 
    }
}
